
	body {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	#page-one {
		background: red;
	}

	#page-two {
		background: blue;
	}

	#page-three {
		background: green;
	}

	.page {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}

	.page.left {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	.page.right {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}